body {
    background: url(imgs/oo.gif);
    background-repeat: no-repeat;
	background-size: 1538px 790px;
	color: rgb(255, 255, 255);
    font-family: myfont;
	font-size: 1.5em;
}
.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
}
@font-face {
    font-family: myfont;
    src: url(silly.ttf);
}