body {
    background: url(imgs/huh.webp);
    background-repeat: no-repeat;
	background-size: 1538px 790px;
	color: rgb(255, 255, 255);
    font-family: myfont;
	font-size: 1.5em;
    text-align: center;
}
@font-face {
    font-family: myfont;
    src: url(silly.ttf);
}